<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navigation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/button.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/input.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/form_block.css}">
</head>

<body>
    <div class="navigation">
        <nav>
            <a class="navButton" href="/">Главная</a>
            <a class="navButton" href="/data">Данные</a>
            <a class="navButton" href="/operations">Операции</a>
        </nav>
    </div>

    <div>
        <table>
            <tr>
                <th>Nickname</th>
                <th>Birthday</th>
            </tr>
            <tr th:each="peer : ${peerList}">
                <td th:text="${peer.nickname}"></td>
                <td th:text="${peer.birthday}"></td>
            </tr>
        </table>
    </div>

    <div class="inputBlock">
        <div class="formBlock">
            <b>Добавить запись</b>
            <form th:action="@{/data/addPeer}" method="post" onsubmit="return confirm('Вы уверенны, что хотите совершить это действие?');">
                <input type="text" name="nickname" placeholder="Nickname">
                <input type="date" name="birthday">
                <button type="submit">Add</button>
            </form>
        </div>

        <div class="formBlock">
            <b>Обновить запись</b>
            <form th:action="@{/data/updatePeer}" method="post" onsubmit="return confirm('Вы уверенны, что хотите совершить это действие?');">
                <input type="text" name="nickname" placeholder="Nickname">
                <input type="date" name="birthday">
                <button type="submit">Update</button>
            </form>
        </div>

        <div class="formBlock">
            <b>Удалить запись</b>
            <form th:action="@{/data/deletePeer}" method="post" onsubmit="return confirm('Вы уверенны, что хотите совершить это действие?');">
                <input type="text" name="id" placeholder="Nickname">
                <button type="submit">Delete</button>
            </form>
        </div>

        <div class="formBlock">
            <b>Найти запись</b>
            <form th:action="@{/data/findPeer}" method="get" onsubmit="return confirm('Вы уверенны, что хотите совершить это действие?');">
                <input type="text" name="id" placeholder="Nickname">
                <button type="submit">Find</button>
            </form>
        </div>

        <div class="formBlock">
            <b>Импортировать данные</b>
            <form th:action="@{/data/importPeers}" enctype="multipart/form-data" method="post">
                <input type="file" name="multipartFile">
                <input type="hidden" name="tableName" value="peers">
                <button type="submit">Import</button>
            </form>
        </div>

        <div class="formBlock">
            <b>Экспортировать данные</b>
            <form th:action="@{/data/exportPeers}" method="get">
                <input type="hidden" name="tableName" value="peers">
                <button type="submit">Export</button>
            </form>
        </div>
    </div>
</body>
</html>